.Bandeau
{

  background-color: #BD2759;
  font-family: verdana;
  font-size: 48px;
  color: white;
  height: 90px;

  text-align: center ;
  p
  {

  }
}
.Menu
{

background-color: #F3F3F3;
height: 640px;
}
.Menu p
{
  font: 30px Verdana, sans-serif;
  margin: 20px 0px 0px 16px;

}
.Menu a
{
  margin: 40px 0 20px 16px;

}
.titre
{
  font-size:xx-large;
  text-align: center ;

}
.recherche
 {
    border: 0px;
    padding: 0px;
    margin:0px;
}
.CT_row
{
height:120px ;

}

.CT_bar_color
{

width:7px;
}
.CT_tit
{
font-weight: bold;
font-size:14px;
height: 30px;
}
.CT_loc
{
font-size:12px;
height: 25px;
}
.CT_ala
{
height: 40px;
display:table;
width: 50px;
text-align: justify;
}

#CT_ala
{
font-size:13px;
vertical-align:middle;
font-style: oblique;

}
.N1_menu
{
position:absolute;
top :30%;

}
.N1_menu_title
{
font-size:13px;
margin: 6px 0 0 8px ;
font-weight: bold;
vertical-align:middle;
}
.N1_menu_color
{
  background-color: #cc0000 !important;
  width:7px;
}
.N1_row
{

height: 50px;
font-size:15px;
font-weight: bold;
vertical-align:middle;

}

.N1_bar_header
{
  height: 40px ;
  margin : 0 0 0 0 ;
  padding : 0 0 0 0 ;
  border: 0 8px 0 0 ;
}

.expand-item{
  position: relative;
  width: 100%;
  max-height: 50px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.expand-item.active {
  max-height: 200px;
  transition: max-height 0.3s ease-out;
}

.expand-itemcta.active {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}
.expand-itemcta{
  position: relative;
  width: 100%;
  max-height: 50px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}
.AL_bar
{
  height: auto;
  margin : 0 0 0 0;
    padding : 0 0 0 0 ;
    height : 50px;

}
.Admin_bar
{
  height: auto;
  margin : 0 0 0 0;
    padding : 0 0 0 0 ;
    height : 30px;

}
.AL_bar_color
{
  height: 160px ;
  max-width: 5px;
  width : 5px;
}
.AL_bar_icon
{
  position : absolute;
  right:8px;
}
.AL_row_text
{
  width: 300px ;
  height : 50px;


}
#AL_Message
{

  word-wrap: break-word ;
}
.AL_row_state
{
    height : 30px;
    font-size:15px;
}

.AL_type
{

  font-size:15px;
  font-weight: bold;

}
.AL_date
{

  font-size:10px;
  position : absolute;
  right:50px;


}
.AL_btn
{
  padding : 0px;

}
.AL_row_btn .button
  {
    margin-right:5px;
  }

.AL_row_btn
{

height: 35px;
}

.Bib_item
{
  padding : 10px 0 5px 5px ;
  height : 40px;
  font-size:15px;
}

.menu-N1
{
  padding : 5px 0 0 15px ;
  height : 30px;
  font-size:13px;
  width : 120px ;
  position : fixed;
  right: 0 ;
}
.N1-item
{
  width : 200px;
  position : fixed;
  right: 0 ;
  top: 32.5px

}

.status
{
  position : absolute;
  top : 10px;
  right: 30px;
}

.CTA_bar
{
  height: auto;
  margin : 0 0 0 0;
    padding : 0 0 0 0 ;
    height : 50px;

}
.CTA_bar_color
{
  height: 160px ;
  max-width: 5px;
  width : 5px;
}
.CTA_bar_icon
{
  position : absolute;
  right:8px;
}
.CTA_row_text
{
  width: 300px ;
  height : 50px;


}
#CTA_Message
{

  word-wrap: break-word ;
}
.CTA_row_chart
{
    height :150px;
    font-size:15px;
    border: 0px 0px 0px 0px;
    padding: 0px 0 0 70px;
}

.CTA_chart
{

    font-size:15px;
    border: 0px 0px 0px 0px;
    padding: 0px 0 0 0px;
}


.CTA_type
{

  font-size:15px;
  font-weight: bold;

}
.CTA_date
{

  font-size:10px;
  position : absolute;
  right:50px;


}
.CTA_btn
{
  padding : 0px;

}
.CTA_row_btn .button
  {
    margin-right:5px;
  }

.CTA_row_btn
{

height: 40px;

}
.CTA_Tmp
{
  font-size:16px !important ;
  width: 80px;
  padding-left: 10px;
}
.CTA_Tmp .icon
{
  position: absolute;
  right:0;

}
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.OPC
{
  font-size:8px !important ;

}
