.Bandeau
{
  background-color: #BD2759;
  font-family: "Roboto";
  font-size: 48px;
  color: white;
  height: 90px;
  text-align: center ;
  vertical-align: bottom;
  position: relative;
  padding : 30px 30px 30px 30px !important;
}

/*Login*/
.User_Content
{
  background-color: #F3F3F3 ;
 height: 100% ;
}
.Titre_Login_Sup
{
  font-size: 34px ;
  text-align: left ;
  color : #000000 ;
  font-family: "Roboto";
  font-weight: 300 ;
  padding : 40px 0 0px 34px ;
}

.Login_User
{
  font-weight: 400 !important;
  font-family: "Roboto";
  padding : 60px 0 5px 34px !important;
}
.Login_Pass
{
  font-weight: 400 !important;
  font-family: "Roboto";
  padding : 10px 0 5px 34px !important;
}
.Login_User_Input
{
  margin : 0 34px 20px 34px !important;
  width: auto;
  padding: 0 0 0 10px  ;
}

.Login_Pass_Input
{
  margin : 0 34px 20px 34px !important;
  width: auto;
  padding: 0 0 0 10px  ;
}
.Pass_row
{
padding : 0 0 50px 0 !important

}

.Login_Check_Text
{
  padding : 15px 16px  16px 50px !important ;
  background-color: #F3F3F3 ;
  border : 0 ;
  margin : 50px 0 0 34px ;
  font-size:  14px ;
  font-weight: normal ;

}
.Login_Check_Box
{
padding : 5px 0 0 0 !important;
}
.btn-connect
{
  margin-top: 20px !important;
  margin-left: 34px ;
  text-align: center ;
  width : 290px !important;
  background-color: #4EB371 ;
  color : white ;
  font-size: 14px ;
  font-weight:  normal ;
}
.btn-quit
{
  /*margin-top: 20px !important;*/
  margin-left: 34px ;
  text-align: center ;
  width : 290px !important;
  /*background-color: #4EB371 ;*/
  border-radius: 1px;
  border-color: #EAEAEA;
  color : black ;
  font-size: 14px ;
  font-weight:  normal ;
}


/*Login*/

.Menu
{

background-color: #F3F3F3;
height: 800px;
}

.Menu a
{
  /*margin: 40px 0 20px 16px;*/
  padding : 0 ;

}
.titre
{
  font-size:xx-large;
  text-align: center ;
  font-family: "Roboto";
  font-weight: 400 ;
  margin : 0 ;
}

.Titre_Sup
{
  font-size: 32px ;
  text-align: left ;
  color : #000000 ;
  font-family: "Roboto";
  padding : 20px 0 20px 16px ;
}
.Titre2
{
  font-size: 20px ;
  text-align: left ;
  color : #333333;
  font-family: "roboto";
  padding : 20px 0 0 16px ;
 font-weight: 300 ;

}
.User
{
  padding : 20px 0 0 16px !important ;
  font-family: "roboto";
 font-weight: 300 ;
 text-align: center;
}
.button-cnx
{
  padding : 0 ;
  margin : 30px 0 10px 0 !important ;
  width : 50px ;
  font-size: 13px ;
}
.Menu_item_row
{
  padding : 0 0 10px 16px; ;
}


.button.button-positive.button-clear
 {
  font-size:5px !important;
  color : #315286 ;
}

.bar-light.bar.bar-header
{
padding : 0 0 0 0 ;
}
.navicon
{
padding : 0 0 0 10px !important;
}
.title.title-left.header-item
{
  left : 45px !important;
}
.recherche
 {
    border: 0px;
    padding: 8px 10px 8px 10px ;
    margin:0px;
   font-family: "Roboto";

}
.item.item-input.search-row
{
  padding : 0 0 0 12px
}
.icon.ion-search.placeholder-icon
{
  padding : 0 12px 0 0px

}
.item.button-bar.row
{
  padding : 8px 0px 8px 10px ;
  height: 56px ;
  font-family: "Roboto";
  font-weight : 500;
}
.button.btn_CT
{
background-color: #EAEDF2 ;
text-align: center;
font-size: 14px;
color: #315286;
height: 40px ;
margin : 0 10px 0 0 ;

}
.button.btn_Int
{
  background-color: #EAEDF2 ;
  text-align: center;
  font-size: 14px;
  color: #315286;
  height: 40px ;
  margin : 0 10px 0 0 ;

}
.CT_row
{
/*height:120px ;*/
padding : 0 ;
font-family: "Roboto" ;
color : #000000 ;
}
.col_CT
{
  width: 350px ;
  padding : 0 0 0 0 ;
}
.CT_bar_color
{
width:4px;
position : static;
}
.CT_tit
{
font-weight: bold;
padding : 12px 0 12px 20px ;
}

.CT_pow
{
/*font-weight: bold;*/
padding : 12px 0 12px 20px ;
}

.CT_tit_p
{
color : #000000 !important;
font-size:16px !important;
font-family: "Roboto" ;
}
.CT_loc_p
{
/*font-size:14px !important;*/
}
.CT_loc
{
margin : 0 0 0 0 ;
padding : 0 0 0 20px ;
font-size:10px;
/*height: 25px;*/
}
.CT_ala
{
  padding : 12px 0 20px 20px ;
  max-height: 80px;
/*max-width : 30p*/
  text-align: justify;
}
.CT_ala_p
{
padding : 16px 0 0 20px ;
/*height: 40px;*/
/*display:table;*/
word-wrap: break-word;
max-width: 40px;
/*text-align: justify;*/
}


.N1_menu
{
position:absolute;
top :10%;

}
.N1_menu_title
{
font-size:13px;
margin: 6px 0 0 8px ;
font-weight: bold;
vertical-align:middle;
}
.N1_menu_color
{
  /*background-color: #cc0000 !important;*/
  width:7px;
}
.N1_row
{

height: 50px;
font-size:15px;
font-weight: bold;
vertical-align:middle;

}

.N1_bar_header
{
  height: 40px ;
  margin : 0 0 0 0 ;
  padding : 0 0 0 0 ;
  border: 0 8px 0 0 ;
}

.expand-item{
  position: relative;
  width: 100%;
  max-height: 50px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.expand-item.active {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}

.expand-itemcta.active {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}
.expand-itemcta{
  position: relative;
  width: 100%;
  max-height: 50px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}
.AL_bar
{
  height: auto;
  margin : 0 0 0 0;
  padding : 13px 0 0 0 ;
  height : 50px;
}
.AL_col {
padding : 0 0 0 16px ;

}
.Admin_bar
{
  height: auto;
  margin : 0 0 0 0;
    padding : 0 0 0 0 ;
    height : 30px;

}

.AL_Item
{
  padding : 0 0 0 0  ;
  font-family : "Roboto"
}
.AL_bar_color
{

  max-width: 8px;
  width : 8px;
}
.AL_bar_icon
{
  position : absolute;
  right:8px;
}
.AL_row_text
{
  width: 300px ;
  height : 40px;
  padding : 0 0 0 0 ;


}
#AL_Message
{
  word-wrap: break-word ;
  font-size:14px;
  font-style: italic;
    color : black;
}
.AL_row_state
{
    height : 25px;
   font-family: "Roboto" ;
    font-size: 13px ;
    padding : 0 0 0 0 ;
  color : #000000 !important ;
}


.AL_type
{
  font-family : "Roboto" ;
  font-size:12px;
  /*font-weight: bold ;*/
  font-weight: 400;
   padding : 0 0 0 0 ;
     color : black;
}
.AL_date
{

  font-size:10px;
  position : absolute;
  right:50px;


}
.AL_btn
{
  padding : 0 0 0 0 ;
  margin-top : 21px ;
  font-size:14px;

}
.AL_row_btn .button
  {
    /*margin-right:10px;*/
  }

.AL_row_btn
{

padding : 20px 0 20px 10px !important;
border-color: #f6f6f6 ;
}

.button.button-avis
{
 margin : 0 18px 0 0 !important ;
 height: 38px !important ;
 line-height: 20px;
}
.button.button-ack
{

 margin : 0 18px 0 0 !important ;
 height: 38px !important ;
 line-height: 20px;
 float : none;
 border-color: inherit ;

}
.button.button-voir
{
 margin : 0 18px 0 0 !important ;
 height: 38px !important ;
 line-height: 20px;
 width : 80px ;
 background-color: #4EB371;
 border-width: 0px ;
 color : #FAFAFA ;
 font-weight: 300 ;
}
.col_arrow
{
  padding : 0 ;
}
.Bib_item
{
  padding : 10px 0 5px 5px ;
  height : 40px;
  font-size:15px;
}

.menu-N1
{
  padding : 5px 0 0 15px ;
  height : 30px;
  font-size:13px;
  width : 120px ;
  position : fixed;
  right: 0 ;
}
.N1-item
{
  width : 200px;
  position : fixed;
  right: 0 ;
  top: 32.5px

}

.status
{
  position : absolute;
  top : 10px;
  right: 30px;
}

.CTA_bar
{
  height: auto;
  margin : 0 0 0 0;
    padding : 0 0 0 0 ;
    height : 50px;

}
.CTA_bar_color
{
  height: 160px ;
  max-width: 5px;
  width : 5px;
}
.CTA_bar_icon
{
  position : absolute;
  right:8px;
}
.CTA_row_text
{
  width: 300px ;
  height : 50px;


}
#CTA_Message
{

  word-wrap: break-word ;
}
.CTA_row_chart
{
    height :150px;
    font-size:15px;
    border: 0px 0px 0px 0px;
    padding: 0px 0 0 70px;
}

.CTA_chart
{

    font-size:15px;
    border: 0px 0px 0px 0px;
    padding: 0px 0 0 0px;
}


.CTA_type
{

  font-size:15px;
  font-weight: bold;

}
.CTA_date
{

  font-size:10px;
  position : absolute;
  right:50px;


}
.CTA_btn
{
  padding : 0px;

}
.CTA_row_btn .button
  {
    margin-right:5px;
  }

.CTA_row_btn
{

height: 40px;

}
.CTA_Tmp
{
  font-size:16px !important ;
  width: 80px;
  padding-left: 10px;
}
.CTA_Tmp .icon
{
  position: absolute;
  right:0;

}
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.OPC
{
  font-size:8px !important ;

}
@media (max-width: 680px) {
    .active .modal-backdrop-bg {
    opacity: .5;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    }
}

/*Consigne*/

.Cons_Row
{
font-family:'Roboto'!important ;
font-size:14px !important ;
height:60px ;
padding: 0;
border-width:0 !important;
}
