<ion-view view-title="{{::Selected_NomGrp}}" ng-init="Refresh()">

  <ion-nav-bar class="bar-light">
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content>
    <!--Barre de recherche-->
    <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search">
    </label></div>
    <ion-refresher on-refresh="Refresh()">
    </ion-refresher>
    <ion-list>
        <ion-item class="row animate-repeat"
        ng-animate="'animate'" ng-repeat="item in List_Cons | filter: search : false track by item.M+$index" class="item col" style = "padding: 0 ;">
    <!-- <div class="col-5 AL_bar_color" style="background-color: {{item.color}};"></div> -->


<!-- Consigne Reglage ANALOG -->

<!-- <div class="item row Cons_Row" ng-if="item.Type == 'TR'" > -->
<form ng-submit="Analog_Change(item)" class="item row Cons_Row" ng-if="item.T == 'TR'">
          <div class="col col-80" style=" padding : 17px 0 0 20px;" class="Cons_Ana">
            {{::item.L}}

            <!-- <button type="submit" class="button button-block button-positive"
            style="margin: 10px 0 0 0 0 ;right: 0; position:absolute; width:40px; height:40px;"
            ng-click="Analog_Change()">Valider</button> -->

          </div>

          <div class="col col-20" style="border-radius:0;Align:center;padding:0;">
          <input type="number" ng-click = "Validate_Item = item" style="padding: 17px 0 0 20px;" ngMin="item.ANA_ValeurMini" ngMax="item.ANA_ValeurMax" ng-model="item.LV"
          placeholder="{{item.V}}" ng-enter="Analog_Change(item)" ></input>
        </div>

         <!-- <div class = "col col-20"  style="border-radius:0;Align:center;padding:0">
        <button type="submit" class="button button-block button-positive" style="margin: 10px 0 0 0 0 ;left : -100px"
        ng-click="Analog_Change()">Valider</button>
      </div> -->
        </form>


<!-- Consigne Reglage TOR -->
<div class ="item row Cons_Row"  ng-if="item.T == 'TC'">

  <div class="col" style=" padding : 17px 0 0 20px;width:300px;" class="Cons_Ana">
    {{::item.L}}</div>
       <!-- <div class="col-80" style="font-family:'Roboto';font-size:12px; padding : 5px 0 0 20px ;">
        {{::item.Libelle_information}}</div> -->
        <!-- <ion-toggle  ng-change="Write(item)" class="Cons_Tor" ng-model="item.Local_Value" ng-checked="item.Value"
        toggle-class="toggle-calm">{{::item.Libelle_information}}</ion-toggle> -->
        <div class="col" style="width:60px;">
          <div class="item-toggle" >
          <label class="toggle toggle-positive ">
                 <input type="checkbox" ng-change="Write(item)" ng-model="item.LV" ng-checked="item.V" toggle-class="toggle-calm">
                 <div class="track" >
                   <div class="handle"></div>
                 </div>
               </label></div>

        </div>
<!--
            div class="row"  <p align="center">  {{item.Etat}} </p></div> -->


          <!-- <div class="row ">    {{item.date}}</div> -->
</div>


    <!-- <div class="row "><p id="AL_Message">{{item.Libelle_information}}</p></div> -->
    <!-- <div class="row ">Valeur : {{item.Value}}</div> -->
    <!-- </div> -->

              </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
