<ion-view view-title="Status">
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button class="button-clear">
      <i class="button icon-left ion-chevron-left button-clear button-dark"></i>

    </ion-nav-back-button>

</ion-nav-bar>

  <ion-content>
    <div class="recherche col">
    <label class="item item-input row ">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search">
  </label></div>

  <div class="list">
    <ion-list>
        <ion-item ng-repeat="item in Live_Update"  item="item" href="#{{item.id}}">
        <div class ="col">
          <div class="row OPC">{{item.id}}</div>
          <div class="row "> {{item.value}}</div>
        </div>
        </ion-item>
    <ion-infinite-scroll distance="20"
                         on-infinite="loadMoreData()"
                         ng-if="!moredata"
                         > </ion-infinite-scroll>
    </ion-list>

  </div>
  </ion-content>
</ion-view>
