<ion-view view-title="{{Selected_CT}}">

  <ion-nav-bar class="bar-light">
    <ion-nav-back-button class="button-clear">
      <i class="button icon-left ion-chevron-left button-clear button-dark" ></i>

    </ion-nav-back-button>


</ion-nav-bar>

  <ion-content>

    <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search">
    </label></div>

    <!-- <div class="item item-divider icon-right ion-waterdrop">
      Eau
    </div> -->

<div class="item Bib_item"  ng-repeat="item in list_Sta | filter : search" style="padding: 10px 0 0 20px;">
{{::item.Libelle_information}}
<p class="status">{{::item.Etat}}</p>
</div>


  </ion-content>
</ion-view>
