<ion-view view-title="Status">
  <ion-content>
    <div class="recherche col">
    <label class="item item-input row ">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search">
  </label></div>

  <div class="list">

    <div class="item item-divider icon-right ion-waterdrop">
      Eau

    </div>

    <div class="item Bib_item">
Vanne 2 vois belimo R222
<p class="status">Status</p>
    </div>

    <div class="item Bib_item">
    Nom du matériel
      <p class="status">Status</p>
          </div>
    <div class="item Bib_item">
      Nom matériel
      <p class="status">Status</p>
          </div>
    <!-- <a class="item" href="#"> -->
    <!-- <a class="item" >
    </a> -->

    <div class="item item-divider icon-right ion-flash">
      Electrique
    </div>
    <div class="item Bib_item">
      Label
      <p class="status">Status</p>
          </div>

    <div class="item Bib_item">
      Label
      <p class="status">Status</p>
          </div>

    <div class="item Bib_item">
      Labal
      <p class="status">Status</p>
          </div>

  </div>
  </ion-content>
</ion-view>
