<ion-modal-view class="N1_menu">

<ion-content>
<div class="row N1_bar_header">
<div class="N1_menu_color " style ="background-color: {{::modalN1.AL_Color}}"></div>
<p class="N1_menu_title col col-80 " style="font-family:'Roboto'!important ;font-size:14px !important ;">{{modalN1.name}}</p>
<i class="icon ion-close-round col col-offset-10" ng-click="modalN1.hide()"></i>
<!-- <a ion-button ng-click="N1_close()" class="button button-clear col col-offset-10 ion-clouse-round"> -->
</a >
</div>


<ion-list>
       <ion-item style="background-color:#EAEAEA!important;"></ion-item>

      <ion-item  ng-repeat="item in list_N1.GLOBAL" ng-click="modalN1.hide()"
      ui-sref="{{::item.url}}" ui-sref-opts="{reload: true}"  style="font-family:'Roboto'!important ;font-size:16px !important ;">
        {{::item.name}}</ion-item>

          <ion-item style="background-color:#EAEAEA!important;"></ion-item>

      <ion-item  ng-repeat="item in list_N1.LOCAL" ng-click="modalN1.hide()"
      ui-sref="{{::item.url}}" style="font-family:'Roboto'!important ;font-size:16px !important ;">
            {{::item.name}}</ion-item>

          </ion-list>
<!-- </div> -->
</ion-content>

  </ion-modal-view>
