  <!-- ///////////////// Modale Températures par  Circuit \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
  <!-- N'est plus utilisé - Remplacé par la courbe température dans le graphe CT  -->
<ion-modal-view class="NTMP_menu">

<ion-content>
<div class="row N1_bar_header" ng-click="modalT.hide()">
<!-- <div class="N1_menu_color " style ="background-color: {{::modalN1.AL_Color}}"></div> -->
<p class="N1_menu_title row " style="font-family:'Roboto'!important ;font-size:14px !important ;"></p>
<i class="icon ion-close-round col " style="margin:0" ng-click="modalT.hide()"></i>
<!-- <a ion-button ng-click="N1_close()" class="button button-clear col col-offset-10 ion-clouse-round"> -->
</a >
</div>

<div class="row CTA_row_chart">
      <div class="CTA_chart">
<!-- item item-text-wrap -->
 <!-- <canvas id="line" class="chart chart-line ng-isolate-scope"
 chart-data=chart chart-labels=labels chart-options="options" width="300" height="150"
  ></canvas> -->
  <canvas id="line" class="chart chart-line" chart-data="chart"
  chart-labels="labels" chart-series="series" chart-options="options"
  chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>

        </div>
      </div>

</ion-content>

  </ion-modal-view>
