<ion-view view-title="{{::titre_vue}}" ng-init="Refresh2()"> <!-- Laisser le titre vide -->

  <ion-nav-bar class="bar-light" >
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

  <div class = "bar bar-subheader-ph bar-light col">
     <!-- <h2 class = "title">Sub Header</h2> -->
<div class="row" >
     <div class="btn-popN2 button " ng-click= "pop_PH_open($event)" >
       <div class= "col-80 text_N1">{{menu}}</div>
         <!-- <div class="col-20 arrow_N1"><i class="icon AL_bar_icon" ng-class="popN2isOpen ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"></i></div> -->
     </div>
</div>

<div ng-if="vue == 1" class="row week-selector" >
<button class="col col-10 button button-small button-selector" ng-click="previous_week()"> < </button>
<button class="col col-80 button button-small button-selector "  style="font-weight:500"> {{interval}}</button>
<button class="col col-10 button button-small button-selector " ng-click="next_week()" > > </button>

</div>
</div>

  <ion-content class="withsubheader2">

    <!-- <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search"  ng-click="search = ''">
    </label></div> -->


      <!-- <p ng-if="List_CTA.length == 0" style="text-align: center;margin-top:100px;font-size:18px">Pas de circuit pour l'instant </p> -->
<!-- Infinite SCROLL Directive Injected HERE - No remarqble performance -->
      <!-- <ion-list infinite-scroll="addMoreItems()" infinite-scroll-distance="2" > -->
      <ion-refresher on-refresh="Refresh2()">
      </ion-refresher>

      <ion-list  can-swipe="true">
       <!-- <ion-item  style= "padding:0"    ng-repeat="item in Tranches | filter : filterVC_ER "  ng-if="item.typeTranche != 4"   > -->
      <ion-item ng-if="Tranches.length == 0 "  ><p class="RAF">Rien à afficher</p></ion-item>
      <ion-item ng-if ="item.typeTranche != 4" style= "padding:0" ng-repeat="item in Tranches "  >



         <div class="row PH_TR_item" >



                      <div class="col" style="background-color:rgb(115, 83, 202); max-width:8px!important ;"
                      ng-style="getStyle(item.typeTranche)"></div>

                     <div class="col col-20" style="padding:15px 0 0 10px;border-radius:1px;">{{item.heureDebut | date : 'HH:mm' : 'GMT'}} - {{::item.heureFin | date : 'HH:mm' : 'GMT'}}</div>
                     <div ng-if ="vue == 1" class="col col-33" style="padding:15px 0 0 20px;border-radius:1px;">{{get_day(item.laDate)}}  {{::item.laDate | date : 'dd/MM/yyyy'}}</div>
                     <div ng-if ="vue == 2" class="col col-33" style="padding:15px 0 0 50px;border-radius:1px;">{{get_day(item.numJourSemaine)}} </div>
                     <div class="col col-20" style="padding:15px 0 0 10px;border-radius:1px;">{{get_raison(item.idException)}}</div>

         </div>
         <ion-option-button ng-if="item.typeTranche != 5 && ( vue == 1 && $root.droit.FPHMSC || vue == 2 && $root.droit.FPHMSS) " class="button button-light" ng-click ="Del_EL(item)">Supprimer</ion-option-button>
         <ion-option-button ng-if="item.typeTranche != 5 && ( vue == 1 && $root.droit.FPHMSC || vue == 2 && $root.droit.FPHMSS) " ng-if=""class="button button-light" ng-click ="open_edit_modal(item)">Modifier</ion-option-button>

       </ion-item>
 </ion-list>
  </ion-content>

</ion-view>
