<ion-view view-title="Bibliothèque">
  <ion-content>
    <div class="recherche col">
    <label class="item item-input row ">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search">
  </label></div>

  <div class="list">

    <div class="item item-divider">
      Derniers documents ouverts

    </div>

    <div class="item Bib_item">
      Nom du document
    </div>
    <div class="item Bib_item">
      Nom du document long long
    </div>
    <div class="item Bib_item">
      Nom de doc
    </div>
    <!-- <a class="item" href="#"> -->
    <!-- <a class="item" >
    </a> -->

    <div class="item item-divider">
      CT XXXX
    </div>
    <div class="item Bib_item">
      Nom du document
    </div>
    <div class="item Bib_item">
      Nom du document long long
    </div>
    <div class="item Bib_item">
      Nom de doc
    </div>

  </div>
  </ion-content>
</ion-view>
