<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button-clear">
        <i class="button icon-left ion-chevron-left button-clear button-dark"></i>
      titre
      </ion-nav-back-button>


      <ion-nav-buttons side="left">
    <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left">
    </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <div  ng-if=" 'app.CTview'| isState" >
    <button on-click = "N1(N1_name)" class="button button icon-right ion-arrow-down-b">Synthèse</button>
      </div>
      </ion-nav-buttons>

      <!--button class="button button-icon ion-ios-location "g-if=" 'app.synop'| includedByState">  </button>
      <button class="button button-icon ion-social-windows" ng-if=" 'app.synop'| includedByState" ng-click="doSomething()"-->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width = "360">
<div class="Bandeau row">
</div>
<div class="Menu" >
  <div class="row ">
     <p class="titre">
       Supervision STEGC
     </p></div>

  <a ion-button menu-close href="#/app/synop" class="button button-dark button-clear row">
    Synoptiques
  </a >
  <a  ion-button menu-close href="#/app/biblio"class="button button-dark button-clear row " >
    Bibliothèque
  </a >
  <a  ion-button menu-close href="#/app/rapport"class="button button-dark button-clear row">
     Rapport
  </a >
  <a  ion-button menu-close href="#/app/alarmes" class="button button-dark button-clear row">
    Journal des alarmes
  </a >
  <a  ion-button menu-close href="#/app/admin" class="button button-dark button-clear row">
    Administration
  </a >
  <div class="row" >
  <h5> {{clientid}} - {{auth}} </h5>
  </div>
  <div class="row">
    <button class="button button-light button-block" ng-hide='auth' ng-click="login()">
  Connexion
</button>
 <button class="button button-light button-block" ng-show='auth' ng-click="unlog()">
  Déconnexion
</button>
{{isOnline}}
  </div>
  <div class="row">
  </div>
</div>
    <!--ion-content>
      <ion-list>
        <ion-header-bar class="Bandeau">

          <p>PARIS</p>
        </ion-header-bar>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content-->
  </ion-side-menu>

</ion-side-menus>
