<ion-modal-view class="N1_menu">

    <div class="bar bar-header row">
<h1 class="title">{{modalCtrl.name}}</h1>
</div>
    <ion-content>
<div class="row N1_row">Synthèse</div>
<div class="row N1_row">Status</div>
<div class="row N1_row">Synoptique primaire</div>
<div class="row N1_row">Historique</div>
<div class="row N1_row">Fiche identité</div>
<div class="row N1_row">Plans des équipements</div>
<div class="row N1_row">Documentation CT</div>
<div class="row N1_row">Courbes</div>


    </ion-content>
  </ion-modal-view>
