<ion-view view-title="Administration" ng-init = "$root.Refresh_admin()">
  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-refresher on-refresh="Refresh_admin()">
    </ion-refresher>

    <ul class ="list">

    <li class="item ">
    Connexion internet : {{$root.network}}
    <span ng-if="$root.Connected" class="item-note">
    Connecté
    </span>
    <span ng-if="!$root.Connected"class="item-note">
    Déconnecté
    </span>
    </li>

    <li class="item ">
    Connexion Srv Mobilite
    <span ng-if="$root.Socket_Connected" class="item-note">
    Connecté
    </span>
    <span ng-if="!$root.Socket_Connected"class="item-note">
    Déconnecté
    </span>
    </li>


   <li class="item ">
    Connexion OPC
    <span class="item-note">
    {{$root.STATUS.SQL.CODE}}
    </span>
   </li>

    <li class="item ">
    Connexion SQL
    <span class="item-note">
    {{$root.STATUS.OPC.CODE}}
    </span>
    </li>

    <!-- <li class="item item-toggle">
    Serveur VDP - Eiffage
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model = "$storage.Srv_Connect" ng-disabled="!bascule" ng-checked="$storage.Srv_Connect" ng-change="change()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </li> -->

      <li class="item " modal-select="" ng-model="selected_Srv" options="selectables" hide-reset='true'
      cancel-button="Retour" on-select="Srv_Change(newValue, oldValue)" modal-title="Sélection de serveur" >
                Sélection de serveur
                <div class="option">
                  {{option.name}}
                </div>
                <span class="item-note">
                {{selected_Srv.name}}
                </span>
                </li>
          </li>


     <li class="item ">
     Version du Serveur
     <span class="item-note">
     {{$root.STATUS.Version}}
     </span>
     </li>

     <li class="item ">
     Version APK
     <span class="item-note">
     {{APK}}
     </span>
    </li>


  </ul>

  </ion-content>
</ion-view>
