<ion-view view-title="admin">

  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <!--Barre de recherche-->
    <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search">
    </label></div>

    <ion-list>
        <ion-item class="col animate-repeat"
        ng-animate="'animate'" collection-repeat="item in list_Cons | filter: search track by item.Mnemo  " class="item col" >
    <!-- <div class="col-5 AL_bar_color" style="background-color: {{item.color}};"></div> -->

            <!-- <div class="row ">   {{::item.Installation_technique}}     </div> -->
            <div class="item " ng-if="item.Type == 'TR'">
                {{::item.Libelle_information}}
            <!-- <div class="row ">   {{::item.date}}    </div> -->
          <input type="text" placeholder="{{item.Value}}" ng-model="item.Value">
             </div>

          <div class ="item" style="margin:0px;padding:0px" ng-if="item.Type == 'TC'">
        <ion-toggle  ng-change="Write(item)" ng-model="item.Value_Local" ng-checked="item.Value" toggle-class="toggle-calm">{{::item.Libelle_information}}</ion-toggle>
      <p align="center">  {{item.Etat}} </p>


          <!-- <div class="row ">    {{item.date}}</div> -->
</div>


    <!-- <div class="row "><p id="AL_Message">{{item.Libelle_information}}</p></div> -->
    <!-- <div class="row ">Valeur : {{item.Value}}</div> -->
    <!-- </div> -->

              </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
