<ion-view view-title="admin">
  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <!--Barre de recherche-->
    <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search">
    </label></div>

    <ion-list>
        <ion-item class="row animate-repeat"
        ng-animate="'animate'" ng-repeat="item in list_Cons | filter: search track by item.Mnemo" class="item col" style = "padding: 0 ;">
    <!-- <div class="col-5 AL_bar_color" style="background-color: {{item.color}};"></div> -->


<!-- Consigne Reglage ANALOG -->

<!-- <div class="item row Cons_Row" ng-if="item.Type == 'TR'" > -->
<form ng-submit="Analog_Change(item)" class="item row Cons_Row" ng-if="item.Type == 'TR'">
          <div class="col col-80" style=" padding : 17px 0 0 20px;" class="Cons_Ana">
            {{::item.Libelle_information}}

            <!-- <button type="submit" class="button button-block button-positive"
            style="margin: 10px 0 0 0 0 ;right: 0; position:absolute; width:40px; height:40px;"
            ng-click="Analog_Change()">Valider</button> -->

          </div>

          <div class="col col-20" style="border-radius:0;Align:center;padding:0;">
          <input type="number" style="padding: 17px 0 0 20px;" ngMin="item.ANA_ValeurMini" ngMax="item.ANA_ValeurMax" ng-model="item.Local_Value"
          placeholder="{{item.Value}}" ng-blur="Analog_Change(item)" ng-enter="Analog_Change(item)" ></input>
        </div>

         <div  style="border-radius:0;Align:center;padding:0;position: absolute; left: -9999px; width: 1px; height: 1px;">
        <button type="submit" class="button button-block button-positive" style="margin: 10px 0 0 0 0 ;left : -100px"
        ng-click="Analog_Change()">Valider</button>
      </div>
        </form>


<!-- Consigne Reglage TOR -->
<div class ="item row Cons_Row"  ng-if="item.Type == 'TC'">

  <div class="col" style=" padding : 17px 0 0 20px;width:300px;" class="Cons_Ana">
    {{::item.Libelle_information}}</div>
       <!-- <div class="col-80" style="font-family:'Roboto';font-size:12px; padding : 5px 0 0 20px ;">
        {{::item.Libelle_information}}</div> -->
        <!-- <ion-toggle  ng-change="Write(item)" class="Cons_Tor" ng-model="item.Local_Value" ng-checked="item.Value"
        toggle-class="toggle-calm">{{::item.Libelle_information}}</ion-toggle> -->
        <div class="col" style="width:60px;">
          <div class="item-toggle" >
          <label class="toggle toggle-positive ">
                 <input type="checkbox" ng-change="Write(item)" ng-model="item.Local_Value" ng-checked="item.Value" toggle-class="toggle-calm">
                 <div class="track" >
                   <div class="handle"></div>
                 </div>
               </label></div>

        </div>
<!--
            div class="row"  <p align="center">  {{item.Etat}} </p></div> -->


          <!-- <div class="row ">    {{item.date}}</div> -->
</div>


    <!-- <div class="row "><p id="AL_Message">{{item.Libelle_information}}</p></div> -->
    <!-- <div class="row ">Valeur : {{item.Value}}</div> -->
    <!-- </div> -->

              </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
