<ion-view view-title="Journal des alarmes">

  <ion-nav-bar class="bar-light">
      <!-- <ion-nav-back-button class="button-clear">
          <i class="button icon-left ion-chevron-left button-clear button-dark" ></i>

        </ion-nav-back-button> -->
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar>

<ion-content >
<!--Barre de recherche-->
<div class="recherche">
 <label class="item item-input search-row ">
 <i class="icon ion-search placeholder-icon"></i>
 <input type="text" placeholder="Recherche" ng-model="search">
</label></div>


<!--Bouton CT - Intervention-->
        <div class="item button-bar row">
     <a class="button btn_CT" ng-click="Filter_Alm = { Actif : 'true' } ">En cours</a>
      <!-- <select class="button" >
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
    </select> -->
          <a class="button btn_Int" ng-click="Filter_Alm = '' ">Toutes</a>
        <!-- </div> -->
  </div>
<!--Liste de AL-->

<ion-list>
    <!-- <ion-item class="row AL_Item" ng-class="isItemExpanded(item) ? 'expand-item active' : 'expand-item inactive'"
    ng-animate="'animate'" collection-repeat="item in list_AL | filter : Filter_Alm | filter : search track by item.Mnemo" class="item col"  ng-click="expand_AL(item)"   ng-class="{active: isItemExpanded(item)}"> -->
    <ion-item class="row AL_Item" ng-class="isItemExpanded(item) ? 'expand-item active' : 'expand-item inactive'"
  ng-repeat="item in List_AL | filter : Filter_Alm | filter : search track by item.Mnemo+$index" class="item col"  ng-click="expand_AL(item)"   >

<div class="col-5 AL_bar_color" style="background-color: {{::item.AL_Color}}"></div>
<div class="col AL_col">
<div class="row AL_bar">

            <div class="col AL_type" >{{::item.Mnemo}}</div>
            <div class="col "><p class="AL_date">{{::item.date}}</p></div>
          <div class="col col_arrow"><i class="icon AL_bar_icon" ng-class="isItemExpanded(item) ? 'ion-chevron-down' : 'ion-chevron-down'"></i></div>
</div>
<div class="row AL_row_text"><p id="AL_Message">{{::item.Libelle_information}}</p></div>
<div class="row AL_row_state">Etat : {{item.Actif_Label}}</div>
<div class="row AL_row_state">Ack : {{item.Ack_Label}}</div>
<div class="row AL_row_btn">
<button class="button button-avis" >Créer un Avis</button>
<button class="button button-ack" ng-click ="ACK(item)">Acquitter</button>
  <button class="button button-voir" >Voir</button>
</div>
</div>
          </ion-item>
</ion-list>

      <!-- <ion-list ng-controller="ALctrl">
        <div ng-repeat="item in list_AL">
          <ion-item class="item-stable row "
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <div class="col-5 CT_bar_color"></div>
                    <div class="col">{{item.type}}</div>
                    <div class="col">{{item.date}}</div>
            <div class="col"><i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i></div>
       </ion-item>
       <ion-item class="item-accordion"

                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
    </div>

          <!-- <ion-item class="item-accordion"
                    ng-show="isGroupShown(group)">
            {{::item.name}}
          </ion-item> -->

      <!--  -->

  </ion-content>
</ion-view>
