<ion-view view-title="Journal des alarmes">

  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar>

<ion-content >
<!--Barre de recherche-->
  <div class="recherche col">
<label class="item item-input row ">
<i class="icon ion-search placeholder-icon"></i>
<input type="text" placeholder="Search" ng-model="search">
</label>

<!--Bouton CT - Intervention-->
        <div class="item button-bar recherche row">
     <a class="button">En cours</a>
      <!-- <select class="button" >
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
    </select> -->
          <a class="button">Toutes</a>
        </div>
  </div>
<!--Liste de AL-->

<ion-list>
    <ion-item class="row animate-repeat" ng-class="isItemExpanded(item) ? 'expand-item active' : 'expand-item inactive'"
    ng-animate="'animate'" ng-repeat="item in list_AL |filter: search track by $index  " class="item col"  ng-click="expand_AL(item)"   ng-class="{active: isItemExpanded(item)}">
<!-- <div class="col-5 AL_bar_color" style="background-color: {{item.color}};"></div> -->
<div class="col-5 AL_bar_color" style="background-color: #003DF5;"></div>
<div class="col">
<div class="row AL_bar">

            <div class="col AL_type" >{{::item.Installation_technique}}</div>
            <div class="col "><p class="AL_date">{{::item.date}}</p></div>
          <div class="col "><i class="icon AL_bar_icon" ng-class="isItemExpanded(item) ? 'ion-minus' : 'ion-plus'"></i></div>
</div>
<div class="row AL_row_text"><p id="AL_Message">{{::item.Libelle_information}}</p></div>
<div class="row AL_row_state">Etat : {{::item.Value}}</div>
<div class="row AL_row_btn">
    <div class="col "></div>
    <div class="col col-offset-10">
<button class="button button-small button-light" >Créer un Avis</boutton>
  <button class="button button-small button-light" >Acquitter</boutton>
    <button class="button button-small button-positive">Voir</boutton>
</div>
</div>
</div>

          </ion-item>
</ion-list>

      <!-- <ion-list ng-controller="ALctrl">
        <div ng-repeat="item in list_AL">
          <ion-item class="item-stable row "
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <div class="col-5 CT_bar_color"></div>
                    <div class="col">{{item.type}}</div>
                    <div class="col">{{item.date}}</div>
            <div class="col"><i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i></div>
       </ion-item>
       <ion-item class="item-accordion"

                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
    </div>

          <!-- <ion-item class="item-accordion"
                    ng-show="isGroupShown(group)">
            {{::item.name}}
          </ion-item> -->

      <!--  -->

  </ion-content>
</ion-view>
