<ion-view view-title="Bibliothèque">

  <!-- <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
  </ion-nav-bar> -->

  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
        
  </ion-nav-bar>

  <ion-content>

    <div class="recherche">
     <label class="item item-input search-row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Recherche" ng-model="search">
    </label></div>

  <div class="list">

    <div class="item item-divider">
      Derniers documents ouverts

    </div>

    <div class="item Bib_item">
      Nom du document
    </div>
    <div class="item Bib_item">
      Nom du document long long
    </div>
    <div class="item Bib_item">
      Nom de doc
    </div>
    <!-- <a class="item" href="#"> -->
    <!-- <a class="item" >
    </a> -->

    <div class="item item-divider">
      CT XXXX
    </div>
    <div class="item Bib_item">
      Nom du document
    </div>
    <div class="item Bib_item">
      Nom du document long long
    </div>
    <div class="item Bib_item">
      Nom de doc
    </div>

  </div>
  </ion-content>
</ion-view>
