<ion-view view-title="" >


    <ion-nav-bar class="bar-light">
            <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear button-positive ion-navicon navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                     <a ion-button nav-transition="none" ui-sref="app.carto" class="button button-icon ion-ios-location" >  </a >
                     <a ion-button nav-transition="none" ui-sref="app.CT" class="button button-icon ion-social-windows" >  </a >
            </ion-nav-buttons>
    </ion-nav-bar>

<ion-content scroll = "false">

  <div class="recherche">
   <label class="item item-input search-row ">
   <i class="icon ion-search placeholder-icon"></i>
   <input type="text" placeholder="Recherche" ng-model="search">
 </label></div>
<div ng-if="mapEnable" class="gmap_container" data-tap-disabled="true">
    <ng-map  center="{{loc}}"
     default-style="false"
     zoom = "12"
     style="height:85vh !important;max-height:90vh;width:100%;"
     >

     <marker  animation="Animation.BOUNCE"  position="{{marker}}" title="Mobile"></marker>
      <shape name="circle" ng-repeat="item in List_CT | filter: search" no-watcher="true"
           stroke-color="{{::item.AL}}"
           stroke-opacity="0.8"
           stroke-weight="2"
           fill-color="{{::item.AL}}"
           fill-opacity="0.8"
           title="{{::item.CT}}"
           center="[{{::item.LA}},{{::item.LO}}]"
           radius="80"
           on-click="CT_N1(this)"
           >
           <!-- on-click="CT_N1(this)"  -->
         </shape>

    </ng-map></div>

</ion-content>
</ion-view>
