<ion-view view-title="">

  <ion-nav-bar class="bar-light">
        <ion-nav-buttons side="left">
                <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
                 <a  ion-button nav-transition="none" ui-sref="app.carto" class="button button-icon ion-ios-location" >  </a >
                 <a  ion-button nav-transition="none" ui-sref="app.CT" class="button button-icon ion-social-windows" >  </a >
        </ion-nav-buttons>
</ion-nav-bar>
<ion-content scroll = "false">
  <div class="recherche">
     <label class="item item-input row ">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="text" placeholder="Search" ng-model="search">
   </label></div>

    <ng-map zoom-to-include-markers="auto" center="[48.861253, 2.329920]"
     default-style="false"
     zoom = "13"
     style="height:100%;width:100%;"
     >

      <shape name="circle" ng-repeat="CT in list_CT" no-watcher="true"
           stroke-color="{{::CT.AL_Color}}"
           stroke-opacity="0.8"
           stroke-weight="2"
           fill-color="{{::CT.AL_Color}}"
           fill-opacity="0.8"
           center="[{{::CT.LAT}},{{::CT.LONG}}]"
           radius="80">
         </shape>



    </ng-map>

</ion-content>>
</ion-view>
