<ion-view view-title="Synoptique">

  <ion-nav-bar class="bar-light">
          <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear button-positive ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
                   <a ion-button nav-transition="none" ui-sref="app.carto" class="button button-icon ion-ios-location" >  </a >
                   <a ion-button nav-transition="none" ui-sref="app.CT" class="button button-icon ion-social-windows" >  </a >
          </ion-nav-buttons>
  </ion-nav-bar>

<ion-content>

  <div class="recherche">
   <label class="item item-input search-row ">
   <i class="icon ion-search placeholder-icon"></i>
   <input type="text" placeholder="Search" ng-model="search">
 </label></div>

  <!--Bouton CT - Intervention-->
  <div class="item button-bar row">
    <a class="button" nav-transition="none" ui-sref="app.CT" >Centres Thermiques</a>
    <a class="button" nav-transition="none" ui-sref="app.CTi" >Les interventions</a>
  </div>
<!--Liste de CT-->

</ion-content>
</ion-view>
