<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" width = "320">
<div class="Bandeau row">
</div>
<div class="Menu" >

  <div class="row Titre_Sup">Supervision STEGC</div>

  <div class="row Menu_item_row">
  <a ion-button menu-close nav-transition="none" ui-sref="app.CT"
   class="button button-dark button-clear Titre2">Synoptiques</a>
  </div>

   <div class="row Menu_item_row">
  <a  ion-button menu-close nav-transition="none" ui-sref="app.biblio"
  class="button button-dark button-clear Titre2">Bibliothèque</a>
  </div>

  <div class="row Menu_item_row">
  <a  ion-button menu-close ui-sref="app.rapport"
  class="button button-dark button-clear Titre2">Qr Code</a></div>

  <div class="row Menu_item_row">
  <a  ion-button menu-close ui-sref="app.alarmes" ng-click="JAL()"
  class="button button-dark button-clear Titre2">Journal des alarmes</a>
</div>

<div class="row Menu_item_row">
  <a  ion-button menu-close ui-sref="app.admin"
   class="button button-dark button-clear Titre2 ">Administration</a>
</div>

  <div class="row Menu_item_row User" >
   {{clientid}} - {{auth}}
  </div>
  <div class="row">
    <button menu-close class="button button-light button-block button-cnx" ng-hide='auth' ng-click="login()">
  Connexion
</button>
 <button menu-close class="button button-light button-block button-cnx" ng-show='auth' ng-click="unlog()">
  Déconnexion
</button>
  </div>

</div>
    <!--ion-content>
      <ion-list>
        <ion-header-bar class="Bandeau">

          <p>PARIS</p>
        </ion-header-bar>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content-->
  </ion-side-menu>

</ion-side-menus>
